In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv(r"D:\Workplace\.SPRING2025\DAP391m\ufc_fight_stats.csv")

In [31]:
df.describe()

                 KD       SUB.ATT          REV.
count  37322.000000  37322.000000  37322.000000
mean       0.090563      0.163496      0.057821
std        0.317065      0.484544      0.247775
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max        4.000000      8.000000      4.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37364 entries, 0 to 37363
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EVENT       37364 non-null  object
 1   BOUT        37364 non-null  object
 2   ROUND       37322 non-null  object
 3   FIGHTER     37322 non-null  object
 4   KD          37322 non-null  float64
 5   SIG.STR.    37322 non-null  object
 6   SIG.STR. %  37322 non-null  object
 7   TOTAL STR.  37322 non-null  object
 8   TD          37322 non-null  object
 9   TD %        37322 non-null  object
 10  SUB.ATT     37322 non-null  float64
 11  REV.        37322 non-null  float64
 12  CTRL        37322 non-null  object
 13  HEAD        37322 non-null  object
 14  BODY        37322 non-null  object
 15  LEG         37322 non-null  object
 16  DISTANCE    37322 non-null  object
 17  CLINCH      37322 non-null  object
 18  GROUND      37322 non-null  object
dtypes: float64(3), object(16)
memory usage: 5.4+ MB

In [33]:
print(df.columns)

Index(['EVENT', 'BOUT', 'ROUND', 'FIGHTER', 'KD', 'SIG.STR.', 'SIG.STR. %',
       'TOTAL STR.', 'TD', 'TD %', 'SUB.ATT', 'REV.', 'CTRL', 'HEAD', 'BODY',
       'LEG', 'DISTANCE', 'CLINCH', 'GROUND'],
      dtype='object')

In [34]:
columns_to_split = ['SIG.STR.', 'TOTAL STR.', 'HEAD', 'BODY', 'LEG']

for col in columns_to_split:
    col_index = df.columns.get_loc(col)
    
    new_cols = df[col].str.split(' of ', expand=True)
    new_cols.columns = [f'{col}_Success', f'{col}_Attempt']

    df.drop(columns=[col], inplace=True)

    for i, new_col in enumerate(new_cols.columns):
        df.insert(col_index + i, new_col, new_cols[new_col])

print(df.head())

                               EVENT                             BOUT  \
0  UFC Fight Night: Dern vs. Ribas 2  Mackenzie Dern vs. Amanda Ribas
1  UFC Fight Night: Dern vs. Ribas 2  Mackenzie Dern vs. Amanda Ribas
2  UFC Fight Night: Dern vs. Ribas 2  Mackenzie Dern vs. Amanda Ribas
3  UFC Fight Night: Dern vs. Ribas 2  Mackenzie Dern vs. Amanda Ribas
4  UFC Fight Night: Dern vs. Ribas 2  Mackenzie Dern vs. Amanda Ribas

     ROUND         FIGHTER   KD SIG.STR._Success SIG.STR._Attempt SIG.STR. %  \
0  Round 1  Mackenzie Dern  0.0               12               25        48%
1  Round 2  Mackenzie Dern  0.0                3                3       100%
2  Round 3  Mackenzie Dern  0.0               12               18        66%
3  Round 1    Amanda Ribas  0.0               10               33        30%
4  Round 2    Amanda Ribas  0.0                3                6        50%

  TOTAL STR._Success TOTAL STR._Attempt  ...  CTRL HEAD_Success  HEAD_Attempt  \
0                 34                 47  ...  2:36            4            15
1                 24                 25  ...  0:19            1             1
2                 24                 35  ...  1:39            8            11
3                 27                 50  ...  0:00            6            26
4                 37                 49  ...  3:31            2             5

   BODY_Success BODY_Attempt LEG_Success LEG_Attempt  DISTANCE  CLINCH  GROUND
0             2            4           6           6  12 of 25  0 of 0  0 of 0
1             0            0           2           2    2 of 2  0 of 0  1 of 1
2             1            4           3           3    4 of 7  1 of 3  7 of 8
3             1            3           3           4   9 of 32  0 of 0  1 of 1
4             0            0           1           1    1 of 4  0 of 0  2 of 2

[5 rows x 24 columns]

In [35]:
print(df.columns)

Index(['EVENT', 'BOUT', 'ROUND', 'FIGHTER', 'KD', 'SIG.STR._Success',
       'SIG.STR._Attempt', 'SIG.STR. %', 'TOTAL STR._Success',
       'TOTAL STR._Attempt', 'TD', 'TD %', 'SUB.ATT', 'REV.', 'CTRL',
       'HEAD_Success', 'HEAD_Attempt', 'BODY_Success', 'BODY_Attempt',
       'LEG_Success', 'LEG_Attempt', 'DISTANCE', 'CLINCH', 'GROUND'],
      dtype='object')

In [36]:
df.isnull().sum()

EVENT                  0
BOUT                   0
ROUND                 42
FIGHTER               42
KD                    42
SIG.STR._Success      42
SIG.STR._Attempt      42
SIG.STR. %            42
TOTAL STR._Success    42
TOTAL STR._Attempt    42
TD                    42
TD %                  42
SUB.ATT               42
REV.                  42
CTRL                  42
HEAD_Success          42
HEAD_Attempt          42
BODY_Success          42
BODY_Attempt          42
LEG_Success           42
LEG_Attempt           42
DISTANCE              42
CLINCH                42
GROUND                42
dtype: int64

In [37]:
df.dropna()

,EVENT,BOUT,ROUND,FIGHTER,KD,SIG.STR._Success,SIG.STR._Attempt,SIG.STR. %,TOTAL STR._Success,TOTAL STR._Attempt,...,CTRL,HEAD_Success,HEAD_Attempt,BODY_Success,BODY_Attempt,LEG_Success,LEG_Attempt,DISTANCE,CLINCH,GROUND
0,UFC Fight Night: Dern vs. Ribas 2,Mackenzie Dern vs. Amanda Ribas,Round 1,Mackenzie Dern,0.0,12,25,48%,34,47,...,2:36,4,15,2,4,6,6,12 of 25,0 of 0,0 of 0
1,UFC Fight Night: Dern vs. Ribas 2,Mackenzie Dern vs. Amanda Ribas,Round 2,Mackenzie Dern,0.0,3,3,100%,24,25,...,0:19,1,1,0,0,2,2,2 of 2,0 of 0,1 of 1
2,UFC Fight Night: Dern vs. Ribas 2,Mackenzie Dern vs. Amanda Ribas,Round 3,Mackenzie Dern,0.0,12,18,66%,24,35,...,1:39,8,11,1,4,3,3,4 of 7,1 of 3,7 of 8
3,UFC Fight Night: Dern vs. Ribas 2,Mackenzie Dern vs. Amanda Ribas,Round 1,Amanda Ribas,0.0,10,33,30%,27,50,...,0:00,6,26,1,3,3,4,9 of 32,0 of 0,1 of 1
4,UFC Fight Night: Dern vs. Ribas 2,Mackenzie Dern vs. Amanda Ribas,Round 2,Amanda Ribas,0.0,3,6,50%,37,49,...,3:31,2,5,0,0,1,1,1 of 4,0 of 0,2 of 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37359,UFC 2: No Way Out,Johnny Rhodes vs. David Levicki,Round 1,David Levicki,0.0,4,5,80%,95,102,...,--,4,5,0,0,0,0,1 of 2,2 of 2,1 of 1
37360,UFC 2: No Way Out,Patrick Smith vs. Ray Wizard,Round 1,Patrick Smith,0.0,1,1,100%,1,1,...,--,0,0,1,1,0,0,0 of 0,1 of 1,0 of 0
37361,UFC 2: No Way Out,Patrick Smith vs. Ray Wizard,Round 1,Ray Wizard,0.0,1,1,100%,2,2,...,--,0,0,0,0,1,1,1 of 1,0 of 0,0 of 0
37362,UFC 2: No Way Out,Scott Morris vs. Sean Daugherty,Round 1,Scott Morris,0.0,1,1,100%,2,2,...,--,1,1,0,0,0,0,0 of 0,1 of 1,0 of 0
37363,UFC 2: No Way Out,Scott Morris vs. Sean Daugherty,Round 1,Sean Daugherty,0.0,0,4,0%,1,5,...,--,0,2,0,0,0,2,0 of 3,0 of 1,0 of 0

In [38]:
df.replace('---', np.nan, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37364 entries, 0 to 37363
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EVENT               37364 non-null  object
 1   BOUT                37364 non-null  object
 2   ROUND               37322 non-null  object
 3   FIGHTER             37322 non-null  object
 4   KD                  37322 non-null  float64
 5   SIG.STR._Success    37322 non-null  object
 6   SIG.STR._Attempt    37322 non-null  object
 7   SIG.STR. %          37128 non-null  object
 8   TOTAL STR._Success  37322 non-null  object
 9   TOTAL STR._Attempt  37322 non-null  object
 10  TD                  37322 non-null  object
 11  TD %                19947 non-null  object
 12  SUB.ATT             37322 non-null  float64
 13  REV.                37322 non-null  float64
 14  CTRL                37322 non-null  object
 15  HEAD_Success        37322 non-null  object
 16  HEAD_Attempt        37322 non-null  object
 17  BODY_Success        37322 non-null  object
 18  BODY_Attempt        37322 non-null  object
 19  LEG_Success         37322 non-null  object
 20  LEG_Attempt         37322 non-null  object
 21  DISTANCE            37322 non-null  object
 22  CLINCH              37322 non-null  object
 23  GROUND              37322 non-null  object
dtypes: float64(3), object(21)
memory usage: 6.8+ MB

In [39]:
df['TD %'].info

<bound method Series.info of 0        100%
1          0%
2          0%
3         NaN
4        100%
         ...
37359     NaN
37360      0%
37361     NaN
37362    100%
37363     NaN
Name: TD %, Length: 37364, dtype: object>

In [40]:
df['TD %'].isnull().sum()

17417

In [43]:
df['TD %'].replace(np.nan, '0%', inplace=True)
df['TD %'].info

<bound method Series.info of 0        100%
1          0%
2          0%
3          0%
4        100%
         ...
37359      0%
37360      0%
37361      0%
37362    100%
37363      0%
Name: TD %, Length: 37364, dtype: object>